{% load static %}


<title>{% block title %}Web Dictionary{% endblock %}</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="{%static 'search/index.css'%}">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<div class="main text-center container-fluid col-lg-8" style="background-image:url('{%static 'search/book.png'%}');">
    <br/>
    <h2>Web Dictionary</h2>
    <small><strong>Search for meanings, antonyms and synonyms</strong></small>
    
	<div class="row justify-content-center my-5">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" action="{%url 'search' %}">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
               
	                    <div class="col">
	                        <input class="form-control form-control-lg form-control-borderless" type="search" name="word" placeholder="Enter your word">
	                    </div>

	                    <div class="col-auto">
                        	<button class="btn btn-lg btn-success" type="submit">Search</button>
                    	</div>
                    <!--end of col-->
              
                    <!--end of col-->
                    
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
</div>

    <div class="dict container mb-4">
		{% block content %}
		<div align="center">
		</div>
		{% endblock %}
    </div>

<hr>

<footer class="footer text-center py-2 theme-bg-dark my-5">
           
 <small class="copyright">Developed By <i class="fas fa-heart" style="color: #fb866a;"></i><a href="https://github.com/satyarth12" target="_blank"> Satyarth</a></small> 
   
</footer>
